:root {
  /* Primary */
  --Dark-cyan: #3c8067;
  --Cream: #f2ebe3;

  /* Neutral */
  --Very-dark-blue: #1c232b;
  --Dark-grayish-blue: #6c7289;
  --White: #ffffff;

  /* Fonts */
  --Fraunces: "Fraunces", serif;
  --Montserrat: "Montserrat", sans-serif;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*******************************************************/

body {
  background-color: var(--Cream);
  display: grid;
  place-content: center;
}

.main {
  margin: 0 1rem;
  border-radius: .6rem;
  overflow: hidden;
  background-color: #fff;
}

.section{
  /* background-color: aqua; */
  padding: 1.5rem;
}

.section > * + * {
  margin-top: 1rem;
}

.section__h1{
  /* background-color: bisque; */
  color: var(--Dark-grayish-blue);
  font-family: var(--Montserrat);
  font-size: .9rem;
  font-weight: 100;
  letter-spacing: 3px;
}

.section__h2{
  /* background-color: chocolate; */
  font-family: var(--Fraunces);
  font-size: clamp(2em, 4vh, 2.2em);
  line-height: 2rem;
}

.section__description{
  /* background-color: darkmagenta; */
  color: var(--Dark-grayish-blue);
  font-family: var(--Montserrat);
  font-size: clamp(.9rem, 4vh, 1rem);
}

.prices{
  /* background-color: forestgreen; */
  color: var(--Dark-cyan);
  font-family: var(--Fraunces);
  font-size: 2rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

span{
  /* background-color: saddlebrown; */
  color: var(--Dark-grayish-blue);
  font-family: var(--Montserrat);
  font-size: 1rem;
}

.button{
  background-color: var(--Dark-cyan);
  color: #fff;
  margin-top: 1rem;
  border-radius: .5rem;
  min-height: 3.5rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.button:hover {
  background-color: #023b28;
}

.button__icon{
  height: 20px;
}

.button__a{
  color: #fff;
  font-family: var(--Montserrat);
  text-decoration: none;
  margin-top: .2px
}

@media (min-width: 712px) {

    .main {
      display: grid;
      grid-template-areas: "picture section";

      width: min(100% - 1rem, 83ch);
      margin-inline: auto;
    }

    .picture {
      width: 21rem;
    }

    .section {
      padding: 2rem;
    }

    .section__h2 {
      width: 15rem;
      margin-top: 1.5rem;
    }

    .section__description {
      margin-top: 2rem;
    }

    .prices {
      margin-top: 2rem;
    }

    .button {
      margin-top: 1.8rem;
      width: 16.5rem;
    }
}
