:root {
  /* Primary */
  --Dark-cyan: hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);

  /* Neutral */
  --Very-dark-blue: hsl(212, 21%, 14%);
  --Dark-grayish-blue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);

  /* Fonts */
  --Fraunces: "Fraunces", serif;
  --Montserrat: "Montserrat", sans-serif;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  display: grid;
  place-items: center;
  background-color: var(--Cream);
  font-size: 14px;
}

.container {
  margin: 0 1rem;
  background-color: #fff;
  border-radius: 0.6rem;
  overflow: hidden;
}

.details {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

.perfum {
  font-family: var(--Montserrat);
  color: #74747c;
  font-size: 0.8rem;
  letter-spacing: 0.3rem;
  margin-bottom: 0.6rem;
}

.gabrielle {
  font-family: var(--Fraunces);
  font-size: 2rem;
  line-height: 2rem;
  color: black;
  margin-bottom: 1rem;
}

.description {
  font-family: var(--Montserrat);
  color: var(--Dark-grayish-blue);
  margin-bottom: 1rem;
}

.prices {
  font-family: var(--Fraunces);
  font-size: 2rem;
  color: var(--Dark-cyan);
  position: relative;
  margin-bottom: 0.7rem;
}

span {
  font-family: var(--Montserrat);
  font-size: 0.8rem;
  color: var(--Dark-grayish-blue);
  margin-left: 0.7rem;
  display: block;
  position: absolute;
  top: 1rem;
  left: 8.4rem;
}

.button-content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--Dark-cyan);
  height: 3rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.button-content > a {
  font-family: var(--Montserrat);
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}

.button-content > img {
  margin-right: 0.5rem;
}

/*DESKTOP*/
@media (min-width: 800px) {
  .container {
    /* width: 35rem; */
    display: grid;
    grid-template-areas: "picture details";
  }

  picture {
    grid-area: picture;
    width: 18.7rem;
  }

  .details {
    grid-area: details;
    width: 18.7rem;
    padding: 2rem;
  }

  .perfum {
    margin-bottom: 1rem;
  }

  .gabrielle {
    margin-bottom: 1.6rem;
  }

  .description {
    line-height: 1.4rem;
  }

  .prices,
  .button-content {
    margin-top: 0.5rem;
  }
}
